
    <!--轮播图-->
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade"  data-ride="carousel" data-interval="3500">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div id="i1" class="carousel-item active " >
                <img class="d-block w-100" src="images/roll3.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h2 >寻找喜欢的唱见</h2>
                    <h5 >发现好听的的声音</h5>
                </div>
            </div>
            <div id="i2" class="carousel-item" >
                <img class="d-block w-100" src="images/roll1.png" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h2 >学习日语歌曲</h2>
                    <h5 >分享你的声音</h5>
                </div>
            </div>
            <div id="i3" class="carousel-item">
                <img class="d-block w-100" src="images/roll2.png" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="cpt3"></h2>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div id="content" class="container">
        <div id="daily_msc">
            <p>
                <a id="dailySongBtn" class="btn btn-info btn-block" data-toggle="collapse" href="#dailySong" role="button">
                    每日歌词
                </a>
            </p>
            <div id="dailySong" class="collapse">
                <div id="dailySongLyric" class="card card-body">
                    「正（ただ）しいものは    正（ただ）しくいなさい」<br>
                    「死（し）にたくないなら  生（い）きていなさい」<br>
                     悲（かな）しくなるなら   それでもいいなら<br>
                     ずっと一人（ひとり）で    笑（わら）えよ<br>
                    「正确的东西就要以正确的形式存在。」<br>
                    「不想死就活下去。」<br>
                    如果愿意身陷悲伤之情<br>
                    那就一直一个人笑下去吧。
                </div>
            </div>
        </div>
        <div class="container">
            <!--<h3 class="text-center">热门曲目</h3>-->
            <div class="card-deck content_block">
                {{#each songs}}
                <div class="card">
                    <a href="learnSecond?sid={{sid}}"> <img class="card-img-top" alt="Card image cap" src={{image}}> </a>
                    <div class="card-body">
                        <h5 class="card-title text-center"></h5>
                        <h5 class="card-title text-center">{{singer}}</h5>
                        <p class="card-text">{{description}}</p>
                        <!--<p class="card-text"><small class="text-muted">上传时间</small></p>-->
                    </div>
                </div>
                {{/each}}

            </div>

            <div class="card-deck content_block">
                {{#each works}}
                <div class="card">
                    <img class="card-img-top" alt="Card image cap" src={{image}}>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{name}}</h5>
                        <h5 class="card-title text-center">{{user}}</h5>
                        <p class="card-text"><small class="text-muted">{{time}}</small></p>
                        <p class="card-text">{{description}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
