
<!--图片歌词控制区-->
<div id="playArea" class="container justify-content-center">
    <!--图片或视频-->
    <div id="music_media">
        <img src={{song.image}} class="img-fluid">
    </div>

    <audio id="playBar" src={{song.path}} controls="controls"></audio>

    <!--单句歌词-->
    <div id="lyricsPlaying" class="container justify-content-center">
        <p>挂（か）け替（が）えのない命（いのち）だと</p>
        <p>「无可取代的生命之类</p>
        <p>ka ke ga e no na i i no chi da to</p>
    </div>

    <hr>
    <!--播放控制按钮-->
    <div>
        <button type="button" class="btn btn-primary float-right">播放</button>
        <button type="button" class="btn btn-primary float-right">停止</button>
        <button type="button" class="btn btn-primary">收藏</button>
    </div>
    {{song.name}} <br>
    {{song.description}}
</div>

<hr>
<!--完整歌词-->
<div class="container">

    <div id="entire_lyrics">
        <p>
            <a id="entire_lyricsBtn" class="btn btn-info btn-block" data-toggle="collapse" href="#entireLyrics" role="button">
                完整歌词
            </a>
        </p>
        <div id="entireLyrics" class="collapse">
            <div id="entire_lyric" class="card container ">
                {{lyric}}
            </div>
        </div>
    </div>
</div>

<hr>
<!--推荐歌曲作品-->
<!--<div class="container">-->
    <!--<div class="card-deck content_block">-->
        <!--<div class="card">-->
            <!--<img class="card-img-top" src="images/song1.png" alt="Card image cap">-->
            <!--<div class="card-body">-->
                <!--<h5 class="card-title text-center">歌曲名</h5>-->
                <!--<h5 class="card-title text-center">歌手</h5>-->
                <!--<p class="card-text">上传者的简单描述放在这儿aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>-->
                <!--<p class="card-text"><small class="text-muted">上传时间</small></p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<img class="card-img-top" src="images/song1.png" alt="Card image cap">-->
            <!--<div class="card-body">-->
                <!--<h5 class="card-title text-center">歌曲名</h5>-->
                <!--<h5 class="card-title text-center">歌手</h5>-->
                <!--<p class="card-text">上传者的简单描述放在这儿aaaaaaaaaaaaaaaaaaaaaaa</p>-->
                <!--<p class="card-text"><small class="text-muted">上传时间</small></p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<img class="card-img-top" src="images/song1.png" alt="Card image cap">-->
            <!--<div class="card-body">-->
                <!--<h5 class="card-title text-center">歌曲名</h5>-->
                <!--<h5 class="card-title text-center">歌手</h5>-->
                <!--<p class="card-text">上传者的简单描述放在这儿aaaaaaaaaaaaaaaaaaaaaaaaa</p>-->
                <!--<p class="card-text"><small class="text-muted">上传时间</small></p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<img class="card-img-top" src="images/song1.png" alt="Card image cap">-->
            <!--<div class="card-body">-->
                <!--<h5 class="card-title text-center">歌曲名</h5>-->
                <!--<h5 class="card-title text-center">歌手</h5>-->
                <!--<p class="card-text">上传者的简单描述放在这儿aaaaaaaaaaaaaaaaaaaaaaaa</p>-->
                <!--<p class="card-text"><small class="text-muted">上传时间</small></p>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->